#mySidebar{
    background: rgb(38, 38, 38,0.6);
    width:100%;
    height:1200px;
    color: whitesmoke;
}
body {
    margin: 0%;
    padding: 0%;
  }
  .background{
    display: flex;
    flex-direction: column;
  }
.cover{
    width: 100%;
    height: 215px;
    background:url("cover1.jpg");
    }
/*hieu ung menu*/
.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: black;
    display: flex;
    align-items:flex-start;
    width:100%;
      }
      .tablinks{
        display:flex;
        align-items: flex-start;
}
.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        /* transition: 0.3s; */
        font-size: 17px;
        margin-left: 2%;
        color: white;
        font-family: 'Montserrat', sans-serif;
      }
#space_user{ /*khung hien thi user*/
    width:15%;
    color: white;
    background: linear-gradient(180deg, #FD7F0B 0%, rgba(255, 255, 255, 0) 100%), #423F3C;
    padding: 15px 16px;
    margin-left:69%;
    font-family:'Montserrat', sans-serif;
}
      /* Change background color of buttons on hover */
      .tab button:hover {
        background-color: #4d4d4d;
      }
      
      /* Create an active/current tablink class */
      .tab button.active {
        background-color: #ccc;
      }
/*end*/
      .avatar {
        vertical-align: middle;
        width: 15%;
        height: 15%;
        border-radius: 50%;
}  
.img{
    background: linear-gradient(180deg, #525252 0%, rgba(255, 255, 255, 0) 100%), #FF7A00;
    width:100%;
}
.carousel-inner img {
    width: 49.5%;
    height:49%;
    margin-left:25%;
    opacity:0.7;
}
.head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    margin-top:5%;
}
#content1{
   display: flex;
   align-items: flex-start;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
    font-size:100%;
    margin-left:18%;
    margin-top: 8%;
}
.img_content{
    width:30%;
    margin-left:10%;
    margin-top: 5%;
}
#content2{
    display: flex;
    align-items: flex-start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
.img2_content{
    width:30%;
    margin-left:18%;
    margin-top: 8%;
    border-radius:7%;
}
.head2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    margin-top:5%;
    text-align: center;
}
.head3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    text-align: center;
}
.sort{
    display: flex;
    flex-direction: column;
}
.push{
    display: flex;
    align-items: flex-start;
    background: #ff751a;
    border:none;
    width: 7.5%;
    height: 13%;
    border-radius:50%;
}
.button_join{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:15%;
    margin-left:10%;
}
.push2{
    margin-top:5%;
    width:30%;
    height:30% ;
    background: #ff751a;
    border:none;
    margin-left:38%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius:20px;
    color: white;
}
.push2:hover{
 background-color: black;
}