body {
  margin: 0px;
  padding: 0px;
}
.background{
  display: flex;
  flex-direction: column;
}
.cover{
width: 100%;
height: 215px;
background:url("cover1.jpg");
}
.img{
  display: flex;
  flex-direction:column;
  width: 100%;
  height:359px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url("run_2.jpg");
}
#join_us{
  width: 10%;
  height: 10%;
  background: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none;
  margin-top:2%;
  margin-left:5%;
  color: white;
  font-family: 'Roboto', sans-serif !important;
}
.text1{
 margin-top:7%;
 margin-left:5%;
 font-size:170%;
 color:#ff751a;
 font-weight: bold;
 font-family: 'Roboto', sans-serif !important;
}
.text2{
  margin-left:5%;
  margin-top:2%;
  font-size: 120%;
  color:black;
  font-family: 'Roboto', sans-serif !important;
}
#footer{
  display: flex;
  align-items:center;
  font-family: 'Roboto', sans-serif !important;
  font-weight: bold;
  background: black;
  color:white;
  width: 100%;
  height: 180px;
}
.facebook{
   font-size:150%;
   
   margin-left:5%;
}
.instagram{
  font-size:150%;
 
  margin-left:5%;
}
.STRAVA{
  font-size:150%;
  
  margin-left:5%;
}
.logo{
 width:7%;
 margin-left:50%;
 border-radius:20%;
}